* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  /* bg color */
  --primary-bg-color: rgb(23, 23, 23);
  --secondary-bg-color: rgb(45, 45, 45);

  /* text color */
  --primary-text-color: white;
  --secondary-text-color: rgb(207, 4, 4);

  /* padding  */
  --padding-sm: 4px;
  --padding-lg: 8px;
  --padding-xl: 12px;
  --padding-2xl: 16px;
  --padding-4xl: 24px;

  /* border radius */
  --border-radius-sm: 4px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;
  --border-radius-2xl: 16px;
  --border-radius-4xl: 24px;


  /* spaceing  */
  --space-sm: 4px;
  --space-lg: 8px;
  --space-xl: 12px;
  --space-2xl: 16px;
  --space-4xl: 24px;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: var(--paddinf-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right button {
    padding: var(--padding-lg) var(--padding-xl);
    border-radius: var(--border-radius-lg);
    border: none;
}

section {
    flex-grow: 1;
    width: 100%;
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xl);
    padding: var(--padding-xl);
}

.board {
    height: 100%;
    width: 33%;
    background-color: var(--primary-bg-color);
    border-radius: var(--border-radius-xl);
    padding: var(--padding-lg) var(--padding-2xl);
}

.board-header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-lg) var(--paddinf-2xl);
    align-items: center;
}

.todo {
    padding: var(--padding-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
}

.task {
    height: 20%;
    width: 100%;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius-lg);
    padding: var(--padding-lg);
    position: relative;
    cursor: grab;
}

.delete-btn {
    position: absolute;
    right: 2%;
    bottom: 5%;
    padding: var(--padding-lg) var(--padding-4xl);
    border: none;
    border-radius: var(--border-radius-sm);
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    font-weight: 700;
}